<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsify-themeable@0/dist/css/theme-simple.css">
  <script src="//unpkg.com/docsify-edit-on-github/index.js"></script>
  <style>
    .sidebar-toggle-button {
      background-color: transparent !important;
      margin-left: 16px;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <script>
    window.$docsify = {
        el: '#app',
        plugins: [
          EditOnGithubPlugin.create(null, '/edit/', 'Edit')
        ]
    }
  </script>
  <script src="//cdn.jsdelivr.net/npm/docsify/lib/docsify.min.js"></script>
</body>
</html>